.form-control{
    width: 100% !important;
    padding: .375rem .75rem !important;
    /* font-size: 1rem !important; */
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.form-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    /* border-color: #f19319 !important; */
    border-color: #777 !important;
    outline: 0 !important;
    /* box-shadow: 0 0 0 .2rem rgba(241, 147, 25, 0.25) !important; */
    box-shadow: 0 0 0 .2rem rgba(147, 147, 147, 0.25) !important;
}

.control-label{
    text-transform: capitalize !important;
    color: #757575 !important;
    font-size: 0.8em !important;
    font-weight: 300 !important;
}